# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (do not commit real secrets)
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/

# local caches
/var/cache
/tmp

# services build artifacts
services/ts2hls/node_modules
services/ts2hls/dist
services/multiview-rotor/node_modules
services/multiview-rotor/dist
